[Unit]
Description=auto run hmi after psplash-quit service
After=getty@tty1.service psplash-quit.service 

[Service]
Type=forking
ExecStart=/usr/sbin/hmi.sh


[Install]
WantedBy=multi-user.target
